.toggle {
  cursor: pointer;
  background: linear-gradient(90deg, #654fff 0%, #9f55f9 100%);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
}
